<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Elastic CSS Calendar</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css's>

	<link rel="stylesheet" type="text/css" href="calendar.css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Theme CSS -->
    <link href="../css/creative.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid pink-bar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="../img/logo.jpg" class="logo-menu">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right" style="margin-top: 20px;">
                    <li><a href="">Mis Cursos</a></li>
                    <li><a href="">Ejercicios</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<header class="head-h" style="min-height: 400px;">
		<div  style="height: auto; padding: 150px;">
			<h1 style="text-transform: uppercase; color: #fff; font-weight: bold; font-size: 65px;">Mis ejercicios</h1>
			<hr style="margin-left: 47.5%;">
			   <!-- Trigger the modal with a button -->
			<button class="btn btn-primary btn-xl" style="margin: 50px;" data-toggle="modal" data-target="#myModal">Bienvenida</button>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-lg">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Modal Header</h4>
			      </div>
			      <div class="modal-body text-left" style="color: #000; padding: 15px 40px;">
			        <p>Te doy una calurosa bienvenida a este programa que será un camino de

						autoconocimiento donde <b>aumentarás tu autoestima</b> y aprenderás a re-conocerte,

						perdonarte, amarte, reinventarte y empoderarte para que logres amar sin

						lastimarte, tomes mejores decisiones, mejores tus relaciones personales, evites

						que abusen de ti, se te facilite pedir ayuda y aceptes solo cosas que mereces y te

						sientas más feliz. Eres muy valiosa y deseo de corazón que obtengas el mayor

						provecho de este programa, para lo cual es necesario que inviertas un tiempo de

						tu día en realizar los ejercicios diarios, pero sobre todo que estés totalmente

						comprometida para que los resultados transformen tu vida.</p>
						<p>En este proceso estaré acompañándote, guiándote y caminando de la mano

						contigo. Al igual que tú, he pasado por momentos en los que mi autoestima estaba

						baja y ni siquiera me daba cuenta de ello, pero sé que se puede lograr amarnos a

						nosotras mismas con dedicación. Y tú lo vas a aprender en este programa que

						hice con mucho amor, resultado de muchos libros, experiencias, terapias y sobre

						todo que he comprobado que sirven.</p>

						<p>Se dice que cuando el alumno está preparado, el maestro aparece. Por lo tanto,

						sé que este es el momento de hacer un cambio maravilloso en tu vida, para que el

						amor a ti misma evolucione al nivel que te haga muy feliz y se expanda tanto para

						compartirlo con todos los que te rodean.</p>
						<p class="text-center">Será un honor para mí acompañarte en tu proceso de florecimiento<br>

							¡Gracias por invertir en ti a través de mí!<br>

							Con cariño tu coach Paola Vega <i class="fa fa-heart"></i></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			      </div>
			    </div>

			  </div>
			</div>
		</div>
	</header>
    <div class="container">
     
    	<h1 style="padding-top: 50px; padding-bottom: 30px;">Instrucciones generales del programa <br> Amor a mi</h1>
    	<ol class="lista-si">
    		<li>1.-Este programa está elaborado exclusivamente para las mujeres que deseen verdaderamente hacer un cambio positivo en su vida y estén totalmente comprometidas con ese cambio.</li>
    		<li>2.-Cambia la palabra debería por YO PODRÍA. Ejemplo, Yo debería estar relajada por Yo PODRÍA estar más relajada.</li>
            <li>3.-Cambia la palabra intentar por HACER. Ejemplo, Voy a intentar llegar temprano al trabajo por Yo voy a llegar temprano al trabajo. Quitar la palabra intentar y dejar la afirmación del verbo sola porque intentar es hacer realmente nada.</li>
            <li> 4.-Habla SIEMPRE en primera persona. Esto quiero decir que no digas -A veces uno se enoja cuando la gente es grosera. Cambiarla por YO me enojo cuando la gente es grosera conmigo.</li>
            <li>5.-Toma la decisión de vivir de manera excelente el día hoy, no para mañana, no el próximo año. Inicia ya sin perder más tiempo de tu vida. </li>
            <li>6.-Hacer SIEMPRE las tareas, recuerda que la teoría sin práctica no genera ningún cambio.</li>
            <li>7.-No hablar sobre tu proceso con personas que sabes que te pueden criticar o que no les gusta el desarrollo personal hasta que hayas terminado porque puede que te critiquen, se burlen o quieran arruinar tu crecimiento. </li>
            <li>8.-No aconsejes los ejercicios a personas negativas hasta que hayas terminado todo el proceso por la misma razón del punto anterior, pueden burlarse, criticar y hacer que no creas en tu propio proceso.</li>
            <li>10.-Es necesario que tengas la mente abierta para todos los ejercicios y cambios, al final tendrás hermosos resultados. </li>
            <li>9.-Hacer tres afirmaciones diarias al despertar frente a tu espejo: 
                <ul>
                	<li>1)ME AMO Y ME APRUEBO (RELAJANDO TODO TU CUERPO)</li>
                	<li>2)TODOS MIS CAMBIOS SON POSTIVOS, DIVERTIDOS Y AMOROSOS (RELAJANDO TODO TU CUERPO) </li>
                    <li>3)ESTOY EN PAZ (RELAJANDO TODO TU CUERPO)</li>

                </ul>
            </li>
            <li>10.-1 vez a la semana golpear una almohada para liberar tensiones físicas, no importa que no te sientas enojada, golpéala por 5 minutos y deja salir todo el estrés, cansancio, etc. que tengas.</li>
            <li>11.-1 vez al día abrázate y date besos en los brazos y en todas las partes de tu cuerpo que alcances. Acaríciate cuando te pones crema, si no la usas, acaríciate sin crema y dile cosas bonitas a tu cuerpo.</li>
            <li>12.-Durante este proceso, es necesario que hagas TODOS los días una pequeña cosa que te haga feliz y tomar foto de lo que hiciste y me la enviarás por correo cada semana lo que hayas hecho durante toda la semana anterior. Al hacerlo estarás creando el hábito de la felicidad.</li>
			<li>13.-Recuerda que vales mucho solo por el hecho de existir.</li>
			<li>14.-Se paciente contigo misma, porque estarás cambiando hábitos que tienes arraigados por mucho tiempo.</li>
			<li>15.-Trátate como si fueras alguien a quien amas demasiado.</li>
			<li>16.-Evita asustarte o infundirte miedo con pensamientos negativos o dramáticos.</li>
			<li>17.-Cuida tu postura corporal, mantén la espalda recta y la cabeza en alto. Imagina como camina y actúa una persona con alta autoestima y actúa como ella.</li>
			<li>18.-Busca solo tu propia aprobación.</li>
			<li>19.-No te compares con nadie</li>
			<li>20.-Elogiarte todos los días por algo que hayas hecho y escribirlo para hacer un diario de felicitación.</li>
        </ol>
    	<p>Nota: Si deseas puedes compartir tus evidencias y experiencias con el grupo de facebook ATRAE AL AMOR DE TU VIDA porque son mujeres que están en el mismo camino que tú de amarse y además puedes ser una inspiración para que ellas hagan sus propios cambios.</p>
    </div>

    <div class="content-calendar">
    	
    	
    	<h1>Ejercicios diarios</h1>

		
		<ol class="calendar" start="6" style="height: 600px">
		
			<li id="lastmonth">
				<ul start="29">
					<li></li>
				</ul>
			</li>
			
			<li id="thismonth">

				<ul>
					<a href=""><li>1 <p>Conocerte</p>  </li></a>
					<a href=""><li>2 <p>Descripción de ti misma</p></li></a>
					<a href=""><li>3 <p>Creencias</p></li></a>
					<a href=""><li>4 <p>Perdón</p></li></a>
					<a href=""><li>5 <p>Metas</p></li></a>

					<a href=""><li>6 <p>¡Soy especial!</p></li></a>
					<a href=""><li>7 <p>Razón de vida</p></li></a>
					<a href=""><li>8 <p>Personas tóxicas</p></li></a>
					<a href=""><li>9 <p>Actuación</p></li></a>
					<a href=""><li>10 <p>Pequeño cambio en casa</p></li></a>

					<a href=""><li>11<p>¿Que tengo de malo?</p></li></a>
					<a href=""><li>12 <p>Miedo</p></li></a>
					<a href=""><li>13 <p>Novia (sola)</p></li></a>
					<a href=""><li>14 <p>NO</p></li></a>
					<a href=""><li>15 <p>Soy útil</p></li></a>
					<a href=""><li>16 <p>Celebración</p></li></a>

					<a href=""><li>17 <p>Mi poder</p></li></a>
					<a href=""><li>18 <p>Regalo</p></li></a>
					<a href=""><li>19 <p>Sin quejas</p></li></a>
					<a href=""><li>20 <p>Acto de bondad</p></li></a>
					<a href=""><li>21 <p>Sal de tu zona de confort</p></li></a>

					<a href=""><li>22 <p>Ser espontanea</p></li></a>
					<a href=""><li>23 <p>Compartir logros</p></li></a>
					<a href=""><li>24 <p>Ver amor</p></li></a>
					<a href=""><li>25 <p>A solas</p></li></a>
					<a href=""><li>26 <p>Exprésate</p></li></a>
					<a href=""><li>27 <p>Escucha amor</p></li></a>
					
					<a href=""><li>28 <p>Agradecimiento</p></li></a>
					<a href=""><li>29 <p>Sentir</p></li></a>
					<a href=""><li>30 <p>Día de gala</p></li></a>
				</ul>
			</li>
			
			<li id="nextmonth">

				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li
				</ul>
			</li>
			
		</ol>

    </div>
    <div class="container">
    	<p style="margin-bottom: 100px;">Puede que al leer esto creas que es demasiado trabajo, pero créeme, TU VALES MUCHISIMO Y LOS RESULTADOS QUE OBTENDRÁS SERÁN MARAVILLOSOS SI APLICAS TODO LO APRENDIDO. No te llevará más de 20 minutos diarios.</p>
    </div>
    
    <footer class="footer-cont">Derechos de autor <i class="fa fa-copyright"></i> 2017 Coach Paola Vega</footer>
    
    <!-- Latest compiled and minified JavaScript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>

</html>