body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
nav{
	height: 100px;
}
.pink-bar{
	height: 100px;
	background-color: #DA2D7D;
	opacity: 0.8;
	color: #fff;
}
a.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
}
.logo-menu{
	height: 100px;
}
.header-op{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}
.log-inp{
	margin-bottom: 30px;
	
	height: 50px;
}
footer{
	height: 70px;
	background-color: #DA2D7D;
	padding: 30px;
	color: #f6d5ec;	
	width: 100%;
}
.alto-pag{
	height: calc(100vh - 70px);
}
.footer-cont{
	position: absolute;
	width: auto !important;
	left: 0;
	right: 0;
	height: auto !important;
}

.paola{
	width: 150px;
	height: auto;
	margin: 10px 40%;
	border-radius: 100%;
	padding: 3px;
	border: solid 2px #DA2D7D;
}