<section>
	<div class="container" style="padding-top: 40px; padding-bottom: 100px;">
		<p><b>La autoestima es el amor que nos tenemos a nosotras mismas o, dicho de otra manera, es el silencioso respeto que sentimos por nosotros mismas.</b></p>
		<p>
		    Nuestro nivel de autoestima determina nuestras acciones en la vida y por ende sus consecuencias, ya sea para bien o para mal. Las cuales, determinarán nuestro nivel de satisfacción y felicidad en la vida.
		</p>
		<p>
		    Tan importante es este tema, que la capacidad de obtener lo que queremos en la vida depende de nuestro nivel de autoestima.
		</p>
		<p><b>NIVELES DE AUTOESTIMA </b></p>
		<p>Existen tres tipos de autoestima</p>
		<p>
			1.-<b>Alta autoestima</b> (Normal) La persona se ama, se valora y se acepta tal cual es.<br>
			Si tenemos alta autoestima, podemos tener mejores relaciones personales y de amor, tendremos más paz y felicidad. 
		</p>
		<p>
			2.-<b>Baja autoestima.</b> La persona no se ama, no se valora y no se acepta en sus cualidades.<br>
			Si tenemos baja autoestima, tendremos malas relaciones personales, ya que abusarán de nosotras, podemos tener depresión, fobias, mucha ansiedad, estrés, abuso de sustancias, bajo rendimiento académico y laboral, más enfermedades e inseguridad.
		</p>
		<p>
			3.-<b>Autoestima inflada.</b> La persona se ama más que los demás y valora exageradamente sus cualidades.<br>
			Esta tendrá como repercusión, muchos problemas personales en general. Ya que es molesto interactuar con una persona que hace menos a los demás. 
		</p>
		<h3><b>¿CÓMO SE FORMA NUESTRA AUTOESTIMA?</b></h3>
		<p>
			
			Nuestra autoestima se basa en nuestras creencias que se generan principalmente por lo que nos han dicho que somos desde niñas y también lo que escuchamos a los demás decirnos en el transcurso de nuestras vidas como pueden ser nuestros maestros, padres, jefes en el trabajo, los amigos, familiares y nuestras parejas. Nos dicen somos lindas, tontas, buenas, etc. Y nos lo vamos creyendo y así determinamos que somos eso que nos dicen. <br>
			 Además de lo que nos han dicho, la autoestima también se forma en base a nuestras experiencias personales, en las que hemos logrado o no algún reto y determinamos nuestra valor o capacidad en base a los resultados de esas experiencias. 
			En problema es que en la actualidad hay demasiados roles para la mujer en la sociedad, que se nos dice y se nos exige ser bonitas, delgadas, buena esposa, buena hija, buena madre, profesional exitosa, etc.<br>  Todo esto anterior nos lleva a un nivel auto exigencia muy alto, que si fallamos en uno de los roles, nos sentimos malas en general a pesar que seamos muy buenas en alguno de nuestros de estos aspectos. Y nos creamos una mala imagen de nosotras mismas que empieza a bajar nuestra autoestima.<br>
			Muchas veces pensamos conscientemente, ¡Ay no, yo no soy tonta! ¡Ya no me voy a decir así! Pero después volvemos a decirnos que somos tontas, por lo menos en nuestra mente. Esto se debe al sentido de supervivencia de nuestra mente que nos busca mantener en los mismo, que no haya un cambio porque eso podría ser una amenaza y buscar ahorrarnos un posible dolor. En otras palabras, la mente subconsciente busca tenernos a salvo en nuestra zona de confort, aunque esta no sea la mejor, incluso muy dolorosa pero ya es conocida.  <br>
			 Pero a pesar de todo esto, si analizamos conscientemente todas nuestras creencias acerca de nosotras mismas, nos daremos cuenta que podemos reestructurarlas y estaremos modificando la base principal de nuestra autoestima para bien. ¡Así que hay una solución!  Y en los siguientes 30 días estaremos reconstruyendo tu autoestima para tu mayor felicidad. 

		</p>
		<h3><b>¿DE SE CONFORMA NUESTRA AUTOESTIMA?</b></h3>
		<p>
			<b>AUTOCONCEPTO</b> que piensas de ti misma <br>
			Si eres buena o mala persona. Lo que afecta muchísimo a este pilar es la autocrítica. Si nos criticamos con cuidado y de manera objetiva, nos puede ayudar a aprender y crecer. Pero si lo hacemos duramente nos crea estrés y destruye nuestro buen concepto de nosotras mismas. <br>
			El decirnos, ¡Ni yo sola me aguanto! ¡Soy un desastre! Por ejemplo, es una forma continua de destruir el buen concepto de nosotras mismas.<br>
			Es una forma de autocastigarnos diariamente y a nadie le gusta el castigo. Es como traer a nuestro verdugo interior día y noche. <br>
			Nadie aprende ni mejora a regaños y criticas todo el tiempo. Imagina que eres una niña y a esa niña la regañas y críticas todo el tiempo, ¿Tú crees que esa niña será todo un amor y éxito en la vida si TODOS los días está bajo castigo y critica? por supuesto que no. <br>
			La solución es para elevar y desarrollar un buen autoconcepto es ser amables y generosas a la hora de describirnos, de hablar de nosotras mismas. 

		</p>
		<p>
			<b>AUTOCONOCIMIENTO</b> conocer tu personalidad en general.<br>
			Conocernos súper importante que podemos tener una buena autoestima. Al conocernos realmente sabremos que nos gusta, que no nos gusta, que sentimos, que deseamos, como nos sentimos respecto a algunas situaciones, etc. Y esto nos ayuda a saber cómo cuidarnos, tratarnos, definirnos y actuar en nuestra vida. <br>
			El conocerte te da un poder increíble en tu vida para ser feliz porque así sabrás como cuidar de ti y amarte. Es como cuando conoces a alguien, y sabes de que le gusta hablar, a donde le gusta ir, que comida le gusta y cuando estás con esa persona buscas la manera de hacerla feliz haciendo las cosas que sabes que le gustan. Así igual contigo. <br>
			Para conocerte a fondo es necesario hacer un análisis general de ti misma que aprenderás en los ejercicios de este programa. 

		</p>
		<p>
			<b>AUTOIMAGEN</b> que tanto te gustas físicamente. 
			Esto se basa en el estándar de belleza que crees que es el mejor, generado por la sociedad en donde te desenvuelves. He conocido muchas mujeres hermosas que siempre se encuentran un defecto a destruir su belleza. Dicen cosas como, mi nariz está muy grande, en cuanto tenga dinero me la voy a operar, o mis senos están demasiado chicos, estoy gordísima, mis piernas parecen gelatinas llenas de celulitis etc. En fin, jamás se gustan realmente.<br> 
			Para tener una buena imagen de nosotras mismas hay que determinar nuestras cualidades físicas, nuestra belleza individual y nuestra propia forma de ser especial sin compararnos con los estándares de belleza de la televisión o revistas. <br>
			Identificar nuestra propia imagen personal y así no tendrás porque compararte con nadie más porque eres única. 

		</p>
		<p>
			<b>AUTORESPETO</b> como te hablas o te tratas<br>
			El respeto es primordial en nuestras vidas. Si no te respetas a ti misma, nadie jamás lo hará. Si te la pasas burlándote de ti con “memes” en redes sociales, con palabras de críticas delante de la gente, dejando que pasen tus límites, y hablándote en tu mente sin respeto, entonces estarás destruyendo tu autoestima.<br>
			Para la mente no hay bromas. La mente es súper poderosa y se cree todo lo que le dices y lo peor es que después de repetidas veces que le mandes mensajes negativos, estarás actuando como te dices. <br>
			La solución es tratarte como a una persona que respetas. Simple, claro y fuerte. 

		</p>
		<p>
			<b>AUTOEXIGENCIA</b> que estándares a alcanzar te pones. <br>
            Al ponernos metas es necesario revisar nuestros estándares porque si te los pones demasiado altos, estará causando estrés y frustración si no lo logras. confort que podamos alcanzar con un esfuerzo extra y nos motiven a seguir. <br>
            Por ejemplo, cuando queremos tener el cuerpo de una actriz en un mes, por ejemplo. Es casi imposible, tenemos de dejar de comer, hacer muchísimo ejercicio y hacernos las cirugías que ella se ha hecho para poder lograr acércanos a su cuerpo. Parece un ejemplo ridículo, pero a veces es así. Al igual que si son muy bajos también, nos harán una persona muy conformista. Lo ideal es ponernos metas de acuerdo a nuestra realidad que nos muevan de nuestra zona de confort que podamos alcanzar con un esfuerzo extra y nos motiven a seguir adelante cada vez más.  <br>
            Al determinar los estándares, hay que analizar si son puestos por otras personas o son de nosotros mismos. Muchas veces son exigencias que vienen de personas externas, como de nuestros padres o jefes que nos dicen, ¡Deberías ser como tu hermano, o como tu compañero! Pero ¡nooooo! No podemos ser como nadie más porque no somos ellos. Podemos tener alguna habilidad o característica de ellos, pero jamás seremos realmente como ellos. <br>
            En pocas palabras, revisa el nivel de estándares y de donde viene ese estándar para determinar tu nivel de exigencia en tus metas. 

		</p>
		<p>
			<b>AUTOREFUERZO</b> que tanto te premias y te das gusto <br>
			Cuando nuestra pareja no nos da regalos, no cuida de nosotras, no agradece por todo lo que hacemos por él y no nos dice cosas bonitas, obviamente pensaríamos que no nos ama de verdad. Pues así es contigo misma, si no te dices cosas bonitas, no te premias, no te agradeces por todo lo que haces, no te dedicas tiempo para ti, pues entonces tu autoestima será muy baja o nula. <br>
			La solución, premiarte y tratarte como una persona maravillosa que hace miles de cosas bonitas por ti. Dándote tiempo para descansar, regalándote flores, hablándote bonito, etc. <br>
            
		</p>
		<p>
			<b>AUTOEFICACIA</b> que tanta confianza tienes en ti misma<br>
            Causas de baja autoeficacia <br>
            1.-<i>La percepción de que ya nada puede hacerse. </i><br>
			Cómo cuando fallas varias veces en una sola cosa y entonces piensas que ya siempre vas a fallar o que ya no hay solución a tu dolor. Se llama desesperanza aprendida. Como cuando una mujer de edad avanzada tiene un esposo que la trata horrible, y sus hijos cuando crecen y son independientes le ofrecen llevársela con ellos para que tenga una mejor vida y ella decide quedarse, para seguir con una vida horrible porque ya no se quiere dar la oportunidad de ser feliz, siente que esa es la vida que le tocó y no hay nada más que hacer. <br>
			2.- <i>El punto de control interno </i><br>
			Si sabes que tu destino depende ti y de tus decisiones tendrás un mejor manejo de tu vida, pero si piensas que el control es externo, entonces creerás que todo lo exterior es el que tiene el poder de tu vida y tu destino, como el gobierno, el clima, tu jefe, tu familia, la luna, etc.  Cuando basas los resultados de tu vida en lo exterior, tendrás una baja autoeficacia porque sentirás que nada está en tus manos y entonces ya ni siquiera lo querrás intentar o lo harás sin mucho esfuerzo.  Lo ideal es saber que nuestros sucesos de la vida dependen mayormente de nosotras y otra parte de los factores externos, porque se trata de ser realista no fatalista ni ser un optimista irreal.  <br>
			3.-<i>Los estilos de atribución.</i><br> 
            Cuando tenemos éxito decimos que fue por suerte, que las circunstancias te ayudaron. Pero si tenemos un fracaso rápidamente pensamos que era porque nosotros no somos lo suficientemente buenos. Si cambias tu forma de atribuir el éxito y reconoces que tu éxito fue gracias a tu esfuerzo, te sentirás mucho mejor.<br>
            Si tienes problemas con la autoeficacia, cada vez que se venga a tu mente el yo no puedo lograr “mi meta”, cámbialo por SI PUEDO, y piensa en algo que te guste, escucha una canción que te haga sentir feliz, llama por teléfono, haz cualquier cosa para cambiar de posición física y no te enfrasques en un espiral de pensamientos negativos. Puedes decirte una afirmación positiva tocando tu corazón con la mano derecha y tu cabeza con la mano izquierda. Puede ser “Yo he tenido muchos logros en mi vida y eso me asegura que los seguiré teniendo en el futuro. Me amo, me respeto y decido tratarme con amor y paciencia”.

		</p>
		<h3><b>PUNTOS BÁSICOS PARA AUMENTAR LA AUTOESTIMA </b></h3>
		<p>
			<b>*Evita el pesimismo</b> Ser pesimista es tener fe en que todo lo malo pasará, es tener fe en el fracaso y desesperanza. Para cambiar el pesimismo y tus pronósticos del futuro, hay que evaluar tus pronósticos, con las siguientes preguntas ¿Son realistas? ¿Tengo una posibilidad de tener éxito o que las cosas me salgan bien? ¿En qué estadísticas comprobadas se basa mi pronóstico? Te sorprenderás las veces que te puedes equivocar. Y también quita la palabra SIEMPRE o NUNCA, porque eso es demasiado.<br>
			Un maestro una vez me dijo, LAS PEORES TRAGEDIAS SOLO OCURREN EN TU CABEZA” y es totalmente cierto. 
		</p>
		<p>
			<b>*No evites los problemas</b> es necesario afrontar los desafíos de la vida cuando deseamos avanzar un poco más. Por ejemplo, Hay gente que no inicia un negocio por miedo a fracasar, perder su dinero y a tener problemas. Piensan, mejor así…o hay mujeres que no salen con un nuevo hombre en su vida por miedo tener los mismos problemas de sus relaciones anteriores. Entonces te estarás perdiendo la oportunidad de tener éxito y tu autoestima bajará pensando que no eres capaz ni siquiera de intentarlo y en el futuro te dirás el famoso SI YO HUBIERA… 
		</p>
		<p>
			<b>*Elimina la negatividad y vivir recordando el pasado.</b> ENFÓCATE EN RECORDAR TUS EXPERIENCIAS POSITIVAS, haz un esfuerzo, porque a veces nuestra mente vuela tan alto a las peores posibilidades que nos llegan a afectar en el momento presente sintiendo ansiedad, estrés y miedo. <br>
            Recuerda las cosas positivas, porque a nadie le gusta ver una mala película varias veces ¿verdad?, pues así funciona cuando recordamos nuestras malas experiencias pasadas, ponemos nuestra mala película una y otra vez. 

		</p>
		<p>
			<b>*Mantente activa cuando estás demasiado tiempo en pausa</b> descansando sin nada que hacer, tu mente empieza a trabajar en cosas no tan productivas y peor si estás pasando por algún momento difícil, problema o ruptura de amor, se te vendrán pensamientos negativos, buscando el por qué y dando vueltas a la misma historia. Evita tener demasiado tiempo de ocio y busca alguna actividad que te guste, entra a clases de algo, visita amigas, limpia tu casa, ve una película, etc.<br>
            Incluso hay un dicho que dice, <i>“El ocio es la madre de todos los males”</i>.  

		</p>
		<p>
			<b>*No eres tus miedos ni tus inseguridades</b>, esos son solo sentimientos, pero no nos determinan como persona. Así que jamás te digas <i>“Yo soy una miedosa”</i>, porque no lo eres, solo te da miedo alguna situación o cosa, pero tú no eres un pensamiento o sentimiento. 
		</p>
		<p>
			<b>*No hay nada absolutamente malo o bueno.</b> Al juzgarnos, hay que ser un poquito menos duras. Si nos equivocamos piensa que no todo es malo, hay que analizar todos los hechos y seguro encontrarás que hay alguna parte positiva, al menos tuviste el valor de hacerlo y eso ya es mucho. Así que, si tuviste un error, no lo pienses todo en negro, dale un tono gris o un color diferente. 
		</p>
		<p>
			<b>*La aprobación, el éxito, admiración, respeto son una droga que nos dieron desde pequeñas</b>, a la cual somos adictas que nos hace que nos importe demasiado la opinión de otras personas. Y eso les da el poder a otras personas de tener un control en nuestras vidas. Cualquiera puede hacerte sentir feliz o muy mal dependiendo de la importancia que les des a sus comentarios.<br>
            Lo cual nos hace dependientes de las personas y nos quita la libertad. Y vivimos pendientes del que dirán de nosotras, sentimos miedo de quedar mal, tensión y estrés por hacer las cosas bien. Una alta autoestima nos da el poder de recuperar nuestra libertad para que las opiniones de otras personas no nos afecten y vivamos más felices.  

		</p>
		<p>
			<b>*El límite del maltrato que aceptamos es igual al nivel de maltrato que nos hacemos a nosotras mismas.</b> En otras palabras, la gente te maltrata tanto como tú solita te maltratas.
		</p>
		<p>
			Realicé este programa con poca teoría con toda la intención que vayas directamente a la acción y que este programa no se quede en tan solo palabras bonitas. Deseo de corazón que tu vida se transforme y estoy segura que lo harás realizando todos los ejercicios recomendados durante los siguientes 30 días.<br> 
			Por último, te invito a elegir un motivo maravilloso, fuerte, poderoso, un porqué y para que mejorar, qué sea un gran motor que te lleve por este nuevo camino hermoso que has decidido tomar hacia el amor a ti misma en el cuál, yo te voy acompañar.<br>
			Con amor, tu Coach Paola Vega <i class="fa fa-heart" style="color: #da2d7d;"></i>

		</p>
	</div>
</section>