<div class="container" style="padding-bottom: 100px; padding-top: 100px;">

  <div class="row">
    <label>Nombre del Curso:
    <input type="text" name="NombreCurso" ng-model="curso.nombre" required />
  </label>
    <label>Bienvenida:
    <textarea froala name="BienvenidaCurso" ng-model="curso.bienvenida" required />
  </label>
    <label>Descripcion del Curso:
    <textarea froala name="DescripcionCurso" ng-model="curso.descripcion" required />
  </label>
    <label>Boton Teoria:
  <input type="text" name="BotonTeoriaCurso" ng-model="curso.botonTeoria" required />
</label>
    <label>Teoria:
  <textarea froala name="TeoriaCurso" ng-model="curso.teoria" required />
</label>
    <button>Agregar Foto de la Pantalla de Cursos</button>
    <button>Agregar Foto de la Pantalla de Lecciones</button>
  </div>
  <!-- Modal -->
  <div id="modalFotoCursos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-left" style="color: #000; padding: 15px 40px; font-weight: bold;" ta-bind="text" ng-model="curso.bienvenida">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="modalFotoLecciones" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-left" style="color: #000; padding: 15px 40px; font-weight: bold;" ta-bind="text" ng-model="curso.bienvenida">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="modalLeccion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-left" style="color: #000; padding: 15px 40px; font-weight: bold;" ta-bind="text" ng-model="curso.bienvenida">
          <label>Nombre de la Leccion:
          <input type="text" name="NombreCurso" ng-model="leccion.nombre" required />
        </label>
          <label>Cuerpo de la Leccion:
          <textarea froala name="BienvenidaCurso" ng-model="leccion.cuerpo" required />
        </label>
        <label>Imagen de la cabecera
          <input type="file"/>
        </label>
        <label>Tabla de Archivos</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</div>
