<section>
	<div class="container">
		<div class="carta">
			<h2 class="text-center" style="color: #f391c5;text-transform: uppercase;">¡Felicidades por haber concluído tu programa!</h2>
			<p>Gracias por permitirme ser tu guía durante estos 30 días en un proceso tan maravilloso de amor a ti.</p>
			<p>Estoy feliz que hayas concluido tu programa porque sé que tendrás hermosos cambios en la forma de amarte y valorarte.</p>
			<p>Deseo de corazón que este cambio tan bonito de amor propio, perdure para siempre en tu corazón.</p>
			<p>Recuerda que mientras más te ames a ti misma, más te amarán los demás y mejores relaciones personales tendrás.</p>
			<p>Te deseo un futuro lleno de amor, paz, abundancia y felicidad.</p>
			<p style="color: #f391c5;">“Qué el amor por ti misma te acompañe toda la vida”</p>
			<p class="text-center" style="font-size: 25px;text-align: center; font-family: 'Great Vibes', cursive;">
              Con amor, tu coach Paola Vega
              <i class="fa fa-heart" style="color: #da2d7d;"></i>
            </p>
		</div>
	</div>
</section>