<div style="min-height: 400px; height: 400px; background: url(images/boblioteca.jpg);">
  <div class="header-op" style="height: 400px">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading" class="text-center" style="margin-top: 150px; color: #fff; font-family: 'Raleway', sans-serif; font-size: 50px; font-weight: bold;">Editar Curso: {{curso.nombre}}</h1>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom: 100px; padding-top: 100px;">
  <div class="row">
    <div class="form-group">
      <h2>Nombre:</h2>
      <input class="form-control log-inp" ng-model="curso.nombre">
    </div>
  </div>
  <div class="row">
    <h2>Lecciones</h2>
    <p>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarLeccionModal">Agregar Leccion</button>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Orden</th>
          <th>Nombre</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="leccion in curso.lecciones | toArray | orderBy:'id'">
          <td>{{leccion.id}}</td>
          <td>{{leccion.nombre}}</td>
          <td>
            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Remover">
              <span class="fa fa-remove"/>
            </button>
            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Editar" ng-click="modifyLeccion(leccion.id)">
              <span class="fa fa-edit"/>
            </button>
            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Cambiar de lugar">
              <span class="fa fa-step-forward"/>
            </button>
            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Editar Archivos Descargables">
              <span class="fa fa-step-forward"/>
            </button>
            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Editar Imagenes">
              <span class="fa fa-step-forward"/>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="agregarLeccionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Leccion</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control log-inp" required name="email" type="email" ng-model="email">
        </div>
        <div class="form-group">
          <label>Contenido de la leccion:</label>
          <textarea froala ng-model="myHtml"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-toggle="modal">Agregar Leccion</button>
      </div>
    </div>
  </div>
</div>

<div id="editarLeccionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Leccion</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control log-inp" ng-model="temporalLeccion.nombre">
        </div>
        <div class="form-group">
          <label>Contenido de la leccion:</label>
          <textarea froala ng-model="temporalLeccion.cuerpo"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-toggle="modal">Guardar Leccion</button>
      </div>
    </div>
  </div>
</div>
