<div class="header" style="min-height: 400px; height: 400px;" ng-style="{'background-image':headerImage}">
  <div class="header-op">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading" style="margin-top: 150px; color: #fff; font-family: 'Raleway', sans-serif; font-size: 50px; font-weight: bold;">Atrae al amor de tu vida</h1>
        <hr>
      </div>
    </div>
  </div>
</div>
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">PROGRAMA ATRAE AL AMOR DE TU VIDA </h2>
            <hr class="light">
            <p class="text-faded">
              Este programa está diseñado para las mujeres solteras mayores de 30 años que han tenido malas experiencias en el amor, y que desean atraer al amor de su vida para formar una relación de amor sano y duradero. 
              </p>
            <a href="http://coachpaolavega.com/tienda/" class="page-scroll btn btn-default btn-xl sr-button">Comencemos!</a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Atrae al amor de tu vida </h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heartbeat text-primary sr-icons"></i>
              <h3>Beneficios del programa </h3>
              <p class="text-muted" style="text-align: left;">
                <i class="fa fa-heart"></i> Atraer y encontrar a un buen hombre que te valore, respete y conquistarlo para que te trate como reina.<br> 
                <i class="fa fa-heart"></i> Romper con el patrón que has estado repitiendo con tus parejas<br>
                <i class="fa fa-heart"></i>  Aprender técnicas para enamorar a un hombre y hacer que desee comprometerse contigo <br>
                <i class="fa fa-heart"></i>  Saber que no hacer en una relación <br>
                <i class="fa fa-heart"></i>  Perdonarte por los errores pasados  <br>
                <i class="fa fa-heart"></i>  Amarte<br>
                <i class="fa fa-heart"></i>  Aprender a poner límites <br>
                <i class="fa fa-heart"></i>  Creer en ti, fortalecerte y empoderarte  <br>
                <i class="fa fa-heart"></i>  Valorarte <br>
                <i class="fa fa-heart"></i>  Aprender de lo que hiciste en tus relaciones pasadas <br>
                <i class="fa fa-heart"></i>  Reconocer tus fortalezas y debilidades para sentirte valiosa <br>
                <i class="fa fa-heart"></i>  Aprender a llegar a acuerdos con tu pareja <br>
                <i class="fa fa-heart"></i>  Aprender a comunicarte efectivamente con tu pareja y las demás personas <br>
                <i class="fa fa-heart"></i> Aprender técnicas para mantener tu estado de ánimo alto y avanzar a tu meta decidida y consistente <br>

              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
              <h3>Características del programa </h3>
              <p class="text-muted" style="text-align: left">
                <i class="fa fa-heart"></i>  La duración del programa es de 8 a 16 semanas (2 a 4 meses) según la frecuencia de las sesiones (semanal o quincenal) y tu disponibilidad de tiempo <br>
                <i class="fa fa-heart"></i>  No necesitas un horario definido, puedes realizar los ejercicios en el momento del día que desees <br>
                <i class="fa fa-heart"></i>  Los ejercicios te llevarán de 30 minutos a 1 hora máximo al día.
                
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-gift text-primary sr-icons"></i>
              <h3>Al adquirir este programa recibes</h3>
              <p class="text-muted" style="text-align: left">
                <i class="fa fa-heart"></i> 8 sesiones en vivo privadas y personalizadas, vía remota por llamada de Facebook o Skype con duración de 60 minutos para que puedas trabajar en ti misma desde la comodidad y seguridad de tu casa <br>
                <i class="fa fa-heart"></i> Un resumen por escrito a tu email, de lo que trabajaste en cada sesión para que puedas consultarlo cuando desees y visualices tu avance.<br>
                <i class="fa fa-heart"></i> Documentos con herramientas para enamorar a un hombre, mantener una relación sana por largo tiempo, enamorarte de ti misma y tareas de apoyo al trabajo de las sesiones.<br>
                <i class="fa fa-heart"></i>  Asesoría vía mensaje de Facebook durante todo tu proceso.
              </p>
            </div>
          </div>
        
        </div>
      </div>
    </section>